.success {
	padding: 11.2rem 0 8rem 0;
	text-align: center;


	@media (max-width: 975px) {
		padding: 4rem 0;
	}

	@media (max-width: 786px) {
		padding-bottom: 4rem;
	}

	@media (max-width: 416px) {
		padding: 3rem 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@media (max-width: 786px) {
			flex-wrap: wrap;
			justify-content: center;
		}

	}

	&__column {
		background: #FFFFFF;
		padding: 2.4rem 4rem;
		width: 25%;
		height: auto;
		margin-right: 4%;
		box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.13);

		@media (max-width: 975px) {
			padding: 2.4rem 3rem;
		}

		@media (max-width: 786px) {
			width: 45%;
			margin-bottom: 2.8rem;
		}

		@media (max-width: 416px) {
			width: 93%;
			margin-right: 0;
		}
	}

	@media (max-width: 416px) {
		&__column:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: 786px) {
		&__column:nth-child(2n) {
			margin-right: 0;
		}
	}

	&__column:last-child {
		margin-right: 0;
	}


	&__icon {
		padding-bottom: 1.4rem;
		width: auto;
		height: 4.8rem;
	}


	&__number {
		padding-bottom: 1.4rem;
	}


	&__text {
		color: #737373;
	}

}