//icon_consultation-section
.icon-business {
	background: url("../../images/consultation_section/1.svg") no-repeat 4rem center;
	height: auto;
}

.icon-cost {
	background: url("../../images/consultation_section/2.svg") no-repeat 4rem center;
	height: auto;
}

.icon-services {
	background: url("../../images/consultation_section/3.svg") no-repeat 4rem center;
	height: auto;
}


//icon_advice-section
.icon-client {
	background: url("../../images/success_section/1.svg") no-repeat 4rem center;
	height: auto;
}

.icon-dynamic {
	background: url("../../images/success_section/2.svg") no-repeat 4rem center;
	height: auto;
}

.icon-award {
	background: url("../../images/success_section/3.svg") no-repeat 4rem center;
	height: auto;
}


//icon_about-section
.icon-people {
	background: url("../../images/about_section/1.svg") no-repeat 3.2rem center;
	height: auto;
}

.icon-speed {
	background: url("../../images/about_section/2.svg") no-repeat 3.2rem center;
	height: auto;
}


//icon_sponsor-section
.icon-hooli {
	background: url("../../images/sponsor_section/1.svg") no-repeat 10.2rem center;
	height: auto;
}

.icon-lya {
	background: url("../../images/sponsor_section/2.svg") no-repeat 10.2rem center;
	height: auto;
}

.icon-leaf {
	background: url("../../images/sponsor_section/3.svg") no-repeat 10.2rem center;
	height: auto;
}

.icon-stripe {
	background: url("../../images/sponsor_section/4.svg") no-repeat 10.2rem center;
	height: auto;
}

.icon-aws {
	background: url("../../images/sponsor_section/5.svg") no-repeat 10.2rem center;
	height: auto;
}

.icon-fase {
	background: url("../../images/sponsor_section/6.svg") no-repeat 10.2rem center;
	height: auto;
}


//icon_green
.icon-phone_green {
	background: url("../../images/support_section/1.svg") no-repeat 7.2rem center;
	height: auto;
}

.icon-map_green {
	background: url("../../images/support_section/2.svg") no-repeat 7.2rem center;
	height: auto;
}

.icon-mail_green {
	background: url("../../images/support_section/3.svg") no-repeat 7.2rem center;
	height: auto;
}


//icon_blue
.icon-phone_blue {
	background: url("../../images/contacts_section/phone.svg") no-repeat 2.4rem center;
	height: auto;
}

.icon-map_blue {
	background: url("../../images/contacts_section/map.svg") no-repeat 2.4rem center;
	height: auto;
}

.icon-mail_blue {
	background: url("../../images/contacts_section/mail.svg") no-repeat 2.4rem center;
	height: auto;
}